@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10em;
}